.paragraf {
  margin-bottom: 30px;
}

.aboutTitle {
  width: 80%;
  margin-top: 20px;
  margin-left: 100px;
  padding: 30px;
  font-size: 1rem;
  font-family: Cako, Times, serif;
}

.aboutText {
  max-width: 40vw;
  margin: auto;
  text-align: justify;
  font-size: 0.9rem;
}
