.paragraf {
  margin-bottom: 30px;
}

.aboutTitle {
  width: 80%;
  margin-top: 20px;
  margin-left: 100px;
  padding: 30px;
  font-size: 1rem;
  font-family: Cako, Times, serif;
}

.aboutText {
  width: 60%;
  margin: auto;
  text-align: justify;
  font-size: 0.9rem;
}

.img {
  width: 230px;
  opacity: 0.9;
  border-radius: 50%;
}

.resumeContainer {
  text-align: center;
}

.resumeLink {
  display: inline-block;
  margin-top: 10px;
  color: rgb(204, 1, 89);
}

.resumeLink:hover {
  color: rgb(204, 1, 89);
}
