.contactContainer {
  height: 100vh;
  padding-top: 150px;
}

.contactTitle {
  width: 80%;
  margin: 0 0 50px 100px;
  font-size: 1rem;
  font-family: Cako, Times, serif;
}

.contactText {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  margin: 60px 0 25px 0;
}

.contactNavContainer {
  width: 100%;
  text-align: center;
}

.navLinkContact {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 12px;
}

.navLinkContact:hover {
  color: rgb(204, 1, 89);
}
