.textContainer {
  max-width: 100vw;
  margin: 7vh 80px 0;
  height: 100vh;
  padding-top: 150px;
  margin: 0;
  margin-left: 40%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}

.title {
  font-size: 4rem;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-family: 900;
}

.homeText {
  font-size: 1rem;
  width: 40vw;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

@keyframes slide-in-anim {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-52%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
