.workTitle {
  width: 80%;
  margin-top: 20px;
  margin-left: 100px;
  padding: 30px;
  font-size: 1rem;
  font-family: Cako, Times, serif;
}

.container {
  text-align: center;
}

.workContainer {
  margin-bottom: 60px;
}

.projectLink {
  display: inline-block;
  margin-top: 10px;
  color: black;
}

.projectLink:hover {
  color: rgb(204, 1, 89);
}

h1 {
  margin-bottom: 30px;
}
