@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: rgb(237, 144, 144);
  color: rgb(0, 0, 0);
}
